In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
df=pd.read_csv('Madedata1.csv')

In [2]:
df['Infected'].value_counts()

1    1260
0    1239
Name: Infected, dtype: int64

In [3]:
df.head()

,Country,Age,Gender,fever,Bodypain,Runny_nose,Difficulty_in_breathing,Nasal_congestion,Sore_throat,Severity,Contact_with_covid_patient,Infected
0,China,10,Male,102,1,0,0,0,1,Mild,No,0
1,Italy,20,Male,103,1,1,0,0,0,Moderate,Not known,1
2,Iran,55,Transgender,99,0,0,0,1,1,Severe,No,0
3,Republic of Korean,37,Female,100,0,1,1,0,0,Mild,Yes,1
4,France,45,Male,101,1,1,1,1,0,Moderate,Yes,1

In [4]:
Country=df['Country']
Age=df['Age']
Fever=df['fever']
Bodypain=df['Bodypain']
diff=df['Difficulty_in_breathing']
Sore_throat=df['Sore_throat']

In [5]:
x=df[['fever','Bodypain','Difficulty_in_breathing','Sore_throat']].values
y=df['Infected'].values

In [6]:
d={'Country':Country,'Age':Age,'Fever':Fever,'Bodypain':Bodypain,'Difficulty_in_breathing':diff,'Sore_throat':Sore_throat}

In [7]:
pd.DataFrame(d)

,Country,Age,Fever,Bodypain,Difficulty_in_breathing,Sore_throat
0,China,10,102,1,0,1
1,Italy,20,103,1,0,0
2,Iran,55,99,0,0,1
3,Republic of Korean,37,100,0,1,0
4,France,45,101,1,1,0
5,Spain,45,99,1,0,1
6,Germany,24,98,0,0,1
7,UAE,37,99,0,1,1
8,Russia,40,101,0,1,0
9,Canada,37,100,0,0,0
10,China,35,101,1,1,1
11,Netherlands,60,103,1,1,1
12,Mexico,30,98,0,0,0
13,Pakistan,35,102,0,1,1
14,Chile,37,100,0,0,0
15,Sweden,35,104,1,1,0
16,Peru,18,99,1,0,1
17,Ireland,39,100,1,1,0
18,Singapore,55,102,1,1,0
19,Turkey,55,103,1,1,1
20,Russia,35,101,1,0,1
21,France,35,100,0,1,0
22,Iran,37,99,0,0,0
23,Pakistan,24,101,1,0,1
24,India,16,98,0,0,0
25,Sweden,18,101,1,1,0
26,Australia,24,104,1,1,1
27,Malaysia,45,101,1,0,0
28,Argentina,55,102,0,0,1
29,Kuwait,73,98,0,0,0
...,...,...,...,...,...,...
2469,Sweden,65,98,1,0,1
2470,Fiji,70,101,1,1,0
2471,Bhutan,18,100,1,0,1
2472,Greenland,37,99,0,0,1
2473,Hungary,39,100,1,0,1
2474,Pakistan,35,103,1,1,0
2475,Mongolia,18,99,1,0,1
2476,Vietnam,70,103,1,1,1
2477,China,30,98,0,0,0
2478,Serbia,35,102,0,1,1
2479,Barbados,35,104,1,1,0
2480,Bulgaria,18,99,1,0,1
2481,Vietnam,39,100,1,1,0
2482,France,55,102,1,1,0
2483,Malta,40,99,0,1,0
2484,Taiwan,65,103,1,1,1
2485,Mauritius,35,101,1,0,1
2486,Congo,35,100,0,1,0
2487,Vietnam,37,99,0,0,0
2488,Zambia,24,101,1,0,1
2489,Hungary,16,98,0,0,0
2490,Haiti,37,100,0,1,0
2491,Liberia,45,101,1,1,0
2492,Nepal,45,99,1,0,1
2493,Togo,55,102,0,0,1
2494,Myanmar,73,98,0,0,0
2495,Cambodia,35,104,1,1,0
2496,Finland,18,99,1,0,1
2497,Morocco,39,100,1,1,0
2498,Japan,55,102,1,1,0

In [8]:
df.info()#give info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 12 columns):
Country                       2499 non-null object
Age                           2499 non-null int64
Gender                        2499 non-null object
fever                         2499 non-null int64
Bodypain                      2499 non-null int64
Runny_nose                    2499 non-null int64
Difficulty_in_breathing       2499 non-null int64
Nasal_congestion              2499 non-null int64
Sore_throat                   2499 non-null int64
Severity                      2499 non-null object
Contact_with_covid_patient    2499 non-null object
Infected                      2499 non-null int64
dtypes: int64(8), object(4)
memory usage: 234.4+ KB

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [10]:
d=pd.DataFrame(x_train)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
clf=LogisticRegression()

In [13]:
clf.fit(x_train,y_train)

C:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
f=int(input("Enter your fever in degree: "))
b=int(input("Do you have body pain? if yes enter 1 else 0: "))
d=int(input("Do you have difficulty in breathing? if yes enter 1 else 0: "))
s=int(input("Do you have sore throat? if yes enter 1 else 0: "))

Enter your fever in degree: 102
Do you have body pain? if yes enter 1 else 0: 1
Do you have difficulty in breathing? if yes enter 1 else 0: 1
Do you have sore throat? if yes enter 1 else 0: 0

In [15]:
inputfeature=[]
inputfeature.append(f)
inputfeature.append(b)
inputfeature.append(d)
inputfeature.append(s)

In [16]:
inputfeature

[102, 1, 1, 0]

In [17]:
Infectedprob=clf.predict([inputfeature])
Infectedprob

array([1], dtype=int64)

In [18]:
prob=clf.predict_proba([inputfeature])[0][1]

In [21]:
print('Probability of having corona virus is: ',prob)

Probability of having corona virus is:  0.9388521941375471